[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]
fake-bpy-module-latest = "*"
numpy = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.9.2"
